ul {
  list-style: none;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

.t {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.re {
  background-color: aquamarine;
  width: 50%;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: grey;
}

.bt {
  width: 100px;
  height: 20px;
  color: brown;
  background-color: black;
  border-color: transparent;
}
